@charset "utf-8";

//------------------------------------------------------------------------------
//
//	共通設定 
//  
//------------------------------------------------------------------------------

#loadContent {
  opacity: 0;
  transition: opacity .5s ease;
  &.load {
    opacity: 1;
  }
}
#wrapper {
  width: 100%;
  min-height: 100vh;
  font-size: 2.6rem;
  font-weight: 500;
  position: relative;
  background: #f2f2f2;
  img {
    width: 100%;
    height: auto;
  }
  main {
    margin: 0 auto;
    padding: 50px 0 0;
    .inner {
      padding: 30px 15px 0;
    }
  }
}

/* header
----------------------------------------*/
header {
  background: $baseColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  h1 {
    color: #fff;
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
    padding: 13px 0 13px 15px;
  }
  #addTasks {
    width: 50px;
    height: 50px;
    background-color: $pointColor;
    position: absolute;
    top: 0;
    right: 0;
    &::before,
    &::after {
      content: "";
      width: 26px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -13px;
    }
    &::after {
      transform: rotate(90deg);
    }
  }
}

/* taskList
----------------------------------------*/
.taskList {
  li {
    a {
      display: block;
      padding: 13px 40px 13px 15px;
      background: #fff;
      position: relative;
      color: #333;
      border-bottom: 3px solid #f2f2f2;
      h2 {
        font-size: 2.0rem;
        position: relative;
        &::before {
          content: "";
          width: 28px;
          height: 28px;
          line-height: 1;
          color: #fff;
          background: #42b983;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 2px;
          text-align: center;
          opacity: 0;
          transition: .3s ease-in;
          z-index: 1;
        }
        &::after {
          display: block;
          content: '';
          position: absolute;
          left: 7px;
          top: 11px;
          width: 12px;
          height: 5px;
          border-left: 2px solid #fff;
          border-bottom: 2px solid #fff;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          z-index: 2;
          opacity: 0;
          transition: .3s ease-in;
        }
        &.complete {
          padding-left: 38px;
          transition: .4s ease-out;
          &::before,
          &::after {
            opacity: 1;
            transition: .3s ease-in .5s;
          }
        }
      }
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        margin: auto;
        content: "";
        vertical-align: middle;
        transform: translateY(-50%);
      }
      &::before {
        right: 15px;
        width: 18px;
        height: 1px;
        background: $pointColor;
      }
      &::after {
        right: 19px;
        width: 8px;
        height: 8px;
        border-top: 1px solid $pointColor;
        border-right: 1px solid $pointColor;
        transform: rotate(45deg) translateY(-71%);
      }
    }
    &:last-child a{
      border-bottom: none
    }
  }
}
/* btnDefault
----------------------------------------*/
.btnDefault {
  display: block;
  margin: 15px auto 0;
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 10px 0 12px;
  text-align: center;
  background: #FF9800;
}
/* btnReturn
----------------------------------------*/
.btnReturn {
  width: 50%;
  margin: 50px auto 0;
  text-align: center;
  a {
    display: block;
    background: #888;
    line-height: 1;
    padding: 13px 0 15px;
    font-size: 1.6rem;
    border-radius: 60px;
  }
}
/* notTasks
----------------------------------------*/
.notTasks {
  text-align: center;
  font-size: 2.0rem;
  margin-top: 50px;
}

/* transition
----------------------------------------*/
.router-transition-enter-active {
  animation: fadeIn .3s;
  animation-delay: .1s;
  opacity: 0;
}
.router-transition-leave-active {
  animation: fadeOut .3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
