@charset "utf-8";

//------------------------------------------------------------------------------
//
//	共通設定 
//  
//------------------------------------------------------------------------------

#loadContent {
  opacity: 0;
  transition: opacity .5s ease;
  &.load {
    opacity: 1;
  }
}
#wrapper {
  width: 100%;
  min-height: 100vh;
  font-size: 2.6rem;
  font-weight: 500;
  position: relative;
  background: #f2f2f2;
  img {
    width: 100%;
    height: auto;
  }
  main {
    margin: 0 auto;
    padding: 50px 0 0;
  }
}

/* header
----------------------------------------*/
header {
  background: $baseColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  h1 {
    color: #fff;
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
    padding: 13px 0 13px 15px;
  }
  #addTasks {
    width: 50px;
    height: 50px;
    background-color: $pointColor;
    position: absolute;
    top: 0;
    right: 0;
    &::before,
    &::after {
      content: "";
      width: 26px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -13px;
    }
    &::after {
      transform: rotate(90deg);
    }
  }
}

/* taskList
----------------------------------------*/
.taskList {
  li {
    a {
      display: block;
      padding: 13px 40px 13px 15px;
      background: #f2f2f2;
      position: relative;
      color: #333;
      h2 {
        font-size: 2.0rem;
      }
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        margin: auto;
        content: "";
        vertical-align: middle;
        transform: translateY(-50%);
      }
      &::before {
        right: 15px;
        width: 18px;
        height: 1px;
        background: $pointColor;
      }
      &::after {
        right: 19px;
        width: 8px;
        height: 8px;
        border-top: 1px solid $pointColor;
        border-right: 1px solid $pointColor;
        transform: rotate(45deg) translateY(-71%);
      }
    }
    &:nth-child(2n) a{
      background: #fff;
    }
  }
}


/* transition
----------------------------------------*/
.router-transition-enter-active {
  animation: fadeIn .3s;
  animation-delay: .1s;
  opacity: 0;
}
.router-transition-leave-active {
  animation: fadeOut .3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
